<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="heading clip image">
        Employee Review System  | Change Password
         </div>
        
         
         <div class="login-form">

            <form action="/changePass" method="POST">
               
                <span><label for="email">Email:</label></span>
                <input type="email" id="email" name="email" required/> 
                
                 <span><label for="password">Password:</label></span>
                <input type="password" id="password" name="password" required/>

                <span><label for="password1">Confirm Password:</label></span>
                <input type="password" id="password1" name="password1" required/>
                                        
                <input type="submit" value="Login"/>  
                
            </form>
            
         </div>
</body>
</html>